* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    color: #ffffff;
}

.navegador {
    background-color:#9f3647 ;
    color:#ffffff;
    min-height: 8vh;
    justify-content: center;
    line-height: 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    flex-wrap: wrap;
}

.navegador ul {
    display: flex;
    flex-wrap: wrap;
}

.navegador ul li {
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
}

.navegador a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
}

.navegador a:hover {
    color: #9f3647;
    background-color: #181419;
}

#logo:hover{
    background-color: transparent;
    color: #000000;
}


nav a p {
    padding-left: 0.5rem;
}


body {
    background-color: #181419;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.section-principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner-bg.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    opacity: 1.5;

}

.section-principal h1{
    font-size: 3rem;
    font-weight: 700;

}

.section-principal h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

button {
    padding: 0.8rem 1.5rem;
    border-radius: 16px;
    font-size: 1.2rem;
    border-width: 0;
    margin-top: 2rem;
}

button.boton-princ  {
    background-color: #9f3647;
}

button.boton-sec  {
    background-color: #9f3647;
    border-radius: 20px;
    border-bottom-color: #ffffff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-width: 2px;
}

.buscador{
    background-color: #ffffff;
    width: 60vw;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    font-size: 1.2rem;
    border-width: 0;
    margin-top: 2rem;
    margin-right: 1rem;
}

.section-buscador {
    height: 40vh;
    
}

.titulos-section {
    margin-top: 10px;
    margin-bottom: 15px;
}

.titulopelicula {
    z-index: -2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    width: 100%;
    transform: translateY(-50%)
    translateX(-50%);
}

.titulopelicula h3{
    font-weight: bold;
    opacity: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    transition: opacity 
        0.5s
        ease-in-out;
}

 .section-tendencias article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section-tendencias article div{
    height: 600px;
    padding-right: 10px;
    padding-left: 10px;

}

.section-tendencias article div h3{
    margin-top: 20px;   

}

.peliculas {
    height: 80%;
    border-radius: 20px;
    object-fit: cover;

}

.section-aclamadas {
    height: 80vh;

}

.section-aclamadas article {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    overflow-y: hidden;

}

/* 
.section-aclamadas article div {
    height: 80vw;
} */

.aclamadas {

    padding-right: 10px;
    padding-left: 10px;
    height: 80%;
    border-radius: 20px;

}




section h2{
    font-size: 2rem;
    font-weight: 700;
}


footer.navegador ul{
    justify-content: center;
}

